<aside class="bg-light p-3 rounded border">
  <h5 class="fw-bold mb-3">Categorias</h5>
  <div class="d-grid gap-2">
    <button class="btn btn-outline-dark text-start" (click)="filtrar('todos')">Todos los Productos</button>
    <button class="btn btn-outline-primary text-start" (click)="filtrar('celulares')">Celulares</button>
    <button class="btn btn-outline-primary text-start" (click)="filtrar('laptops')">Laptops</button>
    <button class="btn btn-outline-primary text-start" (click)="filtrar('accesorios')">Accesorios</button>
    <button class="btn btn-outline-primary text-start" (click)="filtrar('dispositivos inteligentes')">Smart Home</button>
    <button class="btn btn-danger text-start" (click)="filtrar('ofertas')">Ofertas Vigentes</button>
  </div>
</aside>