<main>
<section>
    <P>Nuestros productos</P>
    <div class="d-flex flex-wrap justify-content-around ">

        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top"
                alt="https://carsaperupoc.vtexassets.com/arquivos/ids/174253/celular-5g-samsung-galaxy-s26-ultra-512gb-12gb-ram-200mp-black-8806097885276_9.jpg?v=639146503623400000">
            <div class="card-body">
                <h5 class="card-title">Celular Motorola</h5>
                <p class="card-text">1600</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXEibVmLJSAFDQqigG7aZ7fM_0XIejg9kL3fN6FlgzvUMpxgeqXtjS5qgq&s=10">
            <div class="card-body">
                <h5 class="card-title"> Laptop Asu </h5>
                <p class="card-text">5000</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="https://minisope.vtexassets.com/arquivos/ids/216393-800-800?v=638078134287230000&width=800&height=800&aspect=true">
            <div class="card-body">
                <h5 class="card-title">Accesorios Maus</h5>
                <p class="card-text">20</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="https://oechsle.vteximg.com.br/arquivos/ids/25226969/Image-1.jpg?v=639138032395400000">
            <div class="card-body">
                <h5 class="card-title">Pc</h5>
                <p class="card-text">3600</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>

    </div>

</section> 
</main>